
body {
  background-color: #4f4f4f;
}

.squareCtn {
  width: 400px;
  height: 400px;
  background-color: #aeae2b;
  position: relative;
}


.square {
  background-color: #cc5050;
  height: 40px;
  width: 40px;
  position: absolute;
}
